<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WhatsApp sin agendar
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)=exit()>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>País</ion-label>
    <ion-select interface="popover" placeholder="País" value="ar">
      <ion-select-option value="ar">ARG</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Número</ion-label>
    <ion-input type="tel" placeholder="11 556667777" [(ngModel)]="this.numero"></ion-input>
  </ion-item>
<ion-item>
  <ion-button slot="end" color="success" (click)="enviar()" expand="block" shape="round">
    <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
    Enviar
  </ion-button>
</ion-item>
</ion-content>
